@font-face {
  font-family: Ampersand;
  src: local('Baskerville-Italic'),
        local('GoudyOldStyleT-Italic'),
        local('Palatino-Italic'),
        local('BookAntiqua-Italic');
  unicode-range: U+0026;
}
@font-face {
  font-family: At;
  src:  local('Futura'),
        local('Helvetica');
  unicode-range: U+40;
}
@mixin thickUnderline($color: #ffcc00,$background: #444444){
  background: linear-gradient($color, $color) no-repeat;
  background-size: 100% .3rem;
  background-position: bottom;
  text-shadow: 4px 0px $background, -4px 0px $background;
}
@mixin thickerUnderline($color1: $gray1, $color2: $pink, $background: #444444,$xOffset: 2px,$yOffset: 3px){
  background: linear-gradient(to right, $color1 100%, $color2 200%) no-repeat,linear-gradient(to right, $color2 100%, $color2 0) no-repeat;
  background-size: 200% .3rem;
  background-position: 100% 100%, 200% 100%;
  text-shadow: $xOffset ($yOffset - 2) 0 $background, -($xOffset) ($yOffset - 2) 0 $background;
  &:hover {
    background: linear-gradient(to right, $color1 100%, $color2 200%) no-repeat, linear-gradient(to right, $color2 100%, $color2 0) no-repeat;
    background-size: 200% .3rem;
    background-position: -101% 100%, bottom;
    text-shadow: $xOffset ($yOffset - 2) 0 $background, -($xOffset) ($yOffset - 2) 0 $background;
  }
}

@mixin ghostOutline($color: $gray1, $opacity: .5, $stroke: 1px){
  text-shadow:
    (-$stroke) (-$stroke) 0 rgba($color,$opacity),
       0 (-$stroke) 0 rgba($color,$opacity),
     $stroke (-$stroke) 0 rgba($color,$opacity),
    (-$stroke)  $stroke 0 rgba($color,$opacity),
       0  $stroke 0 rgba($color,$opacity),
     $stroke  $stroke 0 rgba($color,$opacity);
}

@mixin textOutline($textColor:$pink, $outlineColor:$gray3, $stroke: 1){
  color: $textColor;
  text-shadow:
    (-$stroke + px) (-$stroke + px) 0 $outlineColor,
    ($stroke+px) (-$stroke + px) 0 $outlineColor,
    (-$stroke + px) ($stroke + px) 0 $outlineColor,
    ($stroke + px) ($stroke + px) 0 $outlineColor;
}
@mixin textOutline2($textColor:$pink, $outlineColor:$gray3, $stroke: 1) {
  color: $textColor;
  text-shadow:
    ((-$stroke) + px) ((-$stroke) + px) 0 $outlineColor,
    (($stroke)+px) ((-$stroke)+ px) 0 $outlineColor,
}
