<section id="about">
   <header class="section-header">
      <h1 class="section-title">About Me</h1>
   </header>

   <aside id="formal">

    <div class="face-lockup">

      <div class="face-image">
        <!-- <img src="assets/img/face.png" alt=""> -->
      </div>

      <div class="icon-keyboard">{% include icons/icon-keyboard.html %}</div>
      <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
      <div class="icon-steering-wheel">{% include icons/icon-steering-wheel.html %}</div>
      <div class="icon-wrench">{% include icons/icon-wrench.html %}</div>

    </div><!-- .face-lockup -->

    <div class="blurb">
      <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>
        Quod distinctio, iste nihil eum. Ipsam consectetur, eius fuga. Dicta explicabo,
        molestiae quas accusamus nesciunt porro illo vitae animi magnam est illum.</p>
    </div>

    <div class="about-toggle-box">
      <div class="toggle-tie"></div>
      <button class="about-toggle"></button>
      <div class="toggle-sunglasses"></div>
    </div><!-- .about-toggle-box -->

</section><!-- #about -->
