<section id="about">
   <header class="section-header">
      <h1 class="section-title">About Me</h1>
   </header>

   <aside id="formal">

    <div class="face-lockup">

      <div class="icon icon-keyboard">{% include icons/icon-keyboard.html %}</div>
      <div class="icon icon-pencil">{% include icons/icon-pencil.html %}</div>
      <div class="face-image">
        <!-- <img src="assets/img/face.png" alt=""> -->
      </div>
      <div class="icon icon-steering-wheel">{% include icons/icon-steering-wheel.html %}</div>
      <div class="icon icon-wrench">{% include icons/icon-wrench.html %}</div>

    </div><!-- .face-lockup -->
    <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong> Quod distinctio, iste nihil eum. Ipsam consectetur, eius fuga. Dicta explicabo, molestiae quas accusamus nesciunt porro illo vitae animi magnam est illum.</p>

    <div class="about-toggle-box">
      <div class="toggle-icon icon-tie"></div>
      <button class="about-toggle"></button>
      <div class="toggle-icon icon-sunglasses"></div>
    </div><!-- .about-toggle-box -->

</section><!-- #about -->
