<section id="about-me">
   <header class="section-header">
      <h1 class="section-title">About Me</h1>
   </header>

   <aside id="formal">
      <summary id="programmer">
         Programmer
      </summary>
      <summary id="graphic-artist">
         Graphic Artist
      </summary>
      <img src="" alt="" class="headshot">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda amet, cum quo debitis blanditiis ut ipsam quia doloremque dolor voluptates labore voluptatibus cumque unde nostrum suscipit et eaque totam.</p>
      <summary id="ui-designer">
         <p>I like to study how people interact with the tools of technology surrounding them.</p>
         UI Designer
      </summary>
      <summary id="web-developer">
         Web Developer
      </summary>
   </aside><!-- #formal -->

   <aside id="casual">
      <summary id="musician">
         Musician
      </summary>
      <summary id="sox-fan">
         Red Sox Fanatic
      </summary>
      <img src="" alt="" class="headshot">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda amet, cum quo debitis blanditiis ut ipsam quia doloremque dolor voluptates labore voluptatibus cumque unde nostrum suscipit et eaque totam.</p>
         <summary id="audio-engineer">
            Audio Engineer
         </summary>
      <summary id="cyclist">
         <p>I enjoy the zen of maintaining self-propelled transportation.</p>
         Cyclist
      </summary>
   </aside> <!-- #casual -->

   <nav id="about-toggle">
      <button class="about-me-label" data-tab="formal">Tie</button> - toggle - <button class="about-me-label" data-tab="casual">Sn Glasses</button>
   </nav> <!-- #about-toggle -->
</section><!-- #about-me -->
