<section id="about">
   <header class="section-header text-light">
      <h2 class="section-title">About Me</h2>
      <div class="separator size-small"><span></span></div>
   </header>
  <div class="bio-belt">
    <aside id="formal">
      <div class="face-lockup">
        <div class="face-image">
          <!-- <img src="assets/img/face.png" alt=""> -->
        </div>
        <div class="icon-keyboard"><div class="path">{% include icons/icon-keyboard.html %}</div>  <strong>Programmer</strong></div>
        <div class="icon-pencil"><div class="path">{% include icons/icon-pencil.html %}</div>  <strong>Graphic Artist</strong></div>
        <div class="icon-steering-wheel"><div class="path">{% include icons/icon-steering-wheel.html %}</div>  <strong>UI/UX Designer</strong></div>
        <div class="icon-wrench"><div class="path">{% include icons/icon-wrench.html %}</div> <strong>Web Developer</strong></div>
      </div><!-- .face-lockup -->
    </aside><!-- formal -->
    <aside id="casual">
     <div class="face-lockup">
       <div class="face-image">
         <!-- <img src="assets/img/face.png" alt=""> -->
       </div>
       <div class="icon-keyboard"><div class="path">{% include icons/icon-piano-keys.html %}</div>  <strong>Musician</strong></div>
       <div class="icon-pencil"><div class="path">{% include icons/icon-red-sox.html %}</div>  <strong>Red Sox Fan</strong></div>
       <div class="icon-steering-wheel"><div class="path">{% include icons/icon-sliders.html %}</div>  <strong>Audio Engineer</strong></div>
       <div class="icon-wrench"><div class="path">{% include icons/icon-bicycle.html %}</div> <strong>Cyclist</strong></div>
     </div><!-- .face-lockup -->
   </aside>
  </div>

  <div class="about-toggle-box">
    <div class="toggle-tie toggled">{% include icons/toggle-tie.html %}</div>
    <button class="about-toggle">{% include icons/toggle-off.html %}</button>
    <div class="toggle-sunglasses">{% include icons/toggle-sunglasses.html %}</div>
  </div><!-- .about-toggle-box -->

  <div class="bio-belt">
    <aside id="formal">
     <div class="blurb">
       <p>
         I began working with computers at an early age, writing my first program in GW-BASIC at age 8 on an Apple IIe. In elementary school I became interested in visual art which, combined with my love of computers, led to my studying web design; learning programs like <em>Macromedia</em> Flash and languages like HTML <em>2.0</em>.
       </p>
       <p>
          Over the last twenty years, I've continued to develop myself as an artist and programmer while pursuing other passions and concentrations. For more information on my more hobby-like pursuits, click the sunglasses above to see my informal side.
       </p>
     </div>
    </aside>
    <aside id="casual">
     <div class="blurb">
       <p>
          I like baseball because SPORTS! And also, I used to own a pretty sweet Schwin! Hmm, Oh maybe I should put CrossFit here too, as it fits - what with it being yet ANOTHER passion that has waxed and recently waned...
       </p>
     </div>
   </aside><!-- casual -->
 </div><!-- bio-belt -->



</section><!-- #about -->
