<section id="clients">
   <header class="section-header">
      <h1 class="section-title">Clients</h1>
   </header>
   <div class="clients-container">
      <div class="client">
         <img src="" alt="">
         <h3>Lance Edmands</h3>
         <h4>CEO, Moon Sprockets LLC</h4>
         <blockquote class="testimonial">Whenever I work with Preston, I always get results far beyond my expectaions. The man works media miracles.</blockquote>
         <button class="see-project">See Project</button>
      </div> <!-- client -->
      <div class="client">
         <img src="" alt="">
         <h3>Lance Edmands</h3>
         <h4>CEO, Moon Sprockets LLC</h4>
         <blockquote class="testimonial">Whenever I work with Preston, I always get results far beyond my expectaions. The man works media miracles.</blockquote>
         <button class="see-project">See Project</button>
      </div> <!-- client -->
      <div class="client">
         <img src="" alt="">
         <h3>Lance Edmands</h3>
         <h4>CEO, Moon Sprockets LLC</h4>
         <blockquote class="testimonial">Whenever I work with Preston, I always get results far beyond my expectaions. The man works media miracles.</blockquote>
         <button class="btn-see-project">See Project</button>
      </div> <!-- client -->
   </div><!-- clients-container -->
</section><!-- / #clients -->
