<section id="clients">
   <header class="section-header">
      <h1 class="section-title">Clients</h1>
   </header>
   <div class="clients-container">
     {% for client in site.data.settings.clients %}
     <div class="client">
       <div class="client-face" data-folder="{{client.folder}}" style="background-image: url(/assets/img/clients/{{client.folder}}/face.png)"> </div>
           <h3 class="client-name">{{ client.name }}</h3>
           <h4 class="client-title">{{ client.title }},</h4> <h4 class="client-company">{{ client.company }}</h4>
           <blockquote class="testimonial">{{ client.quote }}</blockquote>

     </div>
     {% endfor %}
   </div><!-- clients-container -->
</section><!-- / #clients -->
