<section id="contact">
   <header class="section-header text-light">
      <h1 class="section-title">Get In Touch!</h1>
      <div class="separator size-small"><span></span></div>
   </header>


  <a class="big-mail" href="mailto:pedmands@gmail.com">pedmands@gmail.com</a>

   <form action="https://formspree.io/pedmands@gmail.com" method="POST">
     <div class="row">
       <label for="name"><input type="text" name="name" placeholder="Your Name"></label>
       <label for="_replyto"><input type="email" name="_replyto" placeholder="Your Email"></label>
     </div>
    <label for="message">
    <textarea name="message" rows="8" cols="30" placeholder="Tell me about your project."></textarea></label>
    <input type="submit" value="Send">
</form>

</section> <!-- /#Contact -->
