<section id="contact">
   <header class="section-header">
      <h1 class="section-title">Get In Touch!</h1>
   </header>
   <aside id="social-2" class="social-media">
      <i class="fa fa-github-square"></i><i class="fa fa-linkedin-square"></i><i class="fa fa-twitter-square"></i>
   </aside>
   <a href="mailto:pedmands@gmail.com">pedmands@gmail.com</a>
   <form action="" class="contact">
      <input type="text" value="Your name"></input><input type="text" value="Your email"></input>
      <textarea rows="15" cols="50">
         Your message.
      </textarea>
      <button type="submit" class="btn-contact">Send</button>
   </form>
</section> <!-- /#Contact -->
