<div class="lander-wrap fullheight">
<main id="home" class="fullheight">
   <div class="cover-letter">
     <div class="letter-content">
      <h1 id="dear-john">To Whom it may concern,</h1>
      <p><span class="dropcap">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quasi dignissimos ipsa, ab nobis cumque, quas incidunt, a odio vel modi! Sint, veniam, voluptatem aperiam commodi consectetur officiis culpa animi!</p>
      <div class="signature">
        <h2 id="sincerely">Sincerely,</h2>
         <div class="sig-box">
            {% include signature.html %}
         </div>
         <h3>Preston Edmands</h3>
         <h3 id="date"></h3>
      </div> <!-- signature -->

    </div><!-- /.letter-content -->
   </div> <!-- cover-letter -->

</main> <!-- #home -->
</div> <!-- /.lander-wrap -->
