<div class="lander-wrap fullheight">
<main id="home" class="fullheight">
   <div class="cover-letter">
     <div class="letter-content">
      <!-- <h1 id="dear-john">To Whom it may concern,</h1> -->
      <p><span class="dropcap">T</span>he further I read through the job description for Theme Wrangler, the more it felt like the perfect summary of my skill set. I am excited by the prospect of working for a company whose goals include a fair and open web.</p>
      <p>I always recommend WordPress to any client in need of a Content Management System, because I know that whatever design the client and I land on, WordPress will just work. I love the expression of disbelief when I explain that such a feature-rich and easy-to-use piece of software is completely free to use.</p>
      <div class="signature">
        <h2 id="sincerely">Sincerely,</h2>
         <div class="sig-box">
            {% include signature.html %}
         </div>
         <h3>Preston Edmands</h3>
         <h3 id="date"></h3>
      </div> <!-- signature -->

    </div><!-- /.letter-content -->
   </div> <!-- cover-letter -->

</main> <!-- #home -->
</div> <!-- /.lander-wrap -->
