<div class="menu-bg"></div>
  <div id="menu" class="fullheight">
         <button data-button='{"func": "snap-out"}' id="menu-toggle">
            <i class="fa fa-bars"></i>
         </button>
         <h1>Preston Edmands <span class="description">2016 Portfolio</span></h1>
         <div class="separator size-small"><span></span></div>
         <nav class="main-nav" id="main-nav" role="navigation">
            <ul>
               <li class="menu-home"><a href="#home">Home</a></li>
               <li class="menu-resume"><a href="#resume">Resume</a></li>
               <li class="menu-work"><a href="#work">Work</a></li>
               <li class="menu-about"><a href="#about">About Me</a></li>
               <li class="menu-clients"><a href="#clients">Clients</a></li>
               <li class="menu-contact"><a href="#contact">Contact</a></li>
            </ul>
         </nav> <!-- main-navigation -->
         <div class="separator size-small"><span></span></div>
         <aside id="menu-social" class="social-media">
           <i class="fa fa-github-square"></i><i class="fa fa-linkedin-square"></i><i class="fa fa-twitter-square"></i>
         </aside>
      </div><!-- #menu -->
  <span class="logo"><img src="assets/img/p-logo_60.png" alt="Preston Edmands' Logo" class="logo-img"/></span>
