<div class="menu-bg"></div>
  <div id="menu" class="fullheight">
         <button data-button='{"func": "snap-out"}' id="menu-toggle">
            <i class="fa fa-bars"></i>
         </button>
         <nav class="main-nav" id="main-nav">
            <ul>
               <li><a href="#home">Home</a></li>
               <li><a href="#resume">Resume</a></li>
               <li><a href="#work">Work</a></li>
               <li><a href="#about">About Me</a></li>
               <li><a href="#clients">Clients</a></li>
               <li><a href="#contact">Contact</a></li>
            </ul>
         </nav> <!-- main-navigation -->
      </div><!-- #menu -->
  <span class="logo"><img src="assets/img/p-logo_60.png" alt="Preston Edmands' Logo" class="logo-img"/></span>
