<section id="resume">
   <header class="section-header">
      <h1 class="section-title">resume</h1>
   </header>
<div class="tab-container">
  <span class="tabs" id="resume-tabs">
        <button class="resume-tab-label current" data-tab="experience">Experience</button>
        <button class="resume-tab-label" data-tab="qualifications">Qualifications</button>
        <button class="resume-tab-label" data-tab="software">Software</button>
        <button class="resume-tab-label" data-tab="languages">Languages</button>
  </span><!-- .resume-tabs -->
     <div id="experience" class="resume-tab-content current">
        experience content
     </div>
     <div id="qualifications" class="resume-tab-content">
        qualifications contentdsadas
     </div>
     <div id="software" class="resume-tab-content">
        software content
     </div>
     <div id="languages" class="resume-tab-content">
        languages content
     </div>
  </div> <!-- .tab-container -->
</section>
