<section id="resume">
  <header class="section-header">
    <h1 class="section-title">resume</h1>
  </header>
  <div class="resume-tabs">
    <div class="resume-tab">Experience</div>
    <div class="resume-tab">Qualifications</div>
    <div class="resume-tab">Software</div>
    <div class="resume-tab">Languages</div>
  </div>
  <div class="resume-controls fullwidth">
    <div class="resume-control-prev"></div>
    <div class="resume-control-next"></div>
  </div>
  <div class="resume-belt">
    <div class="resume-unit">
      <div class="experience-grid">
        <div class="experience-unit">
          <h3>Guitarist <span class="amp">&</span> Vocalist</h3>
          <span class="company">Celebrity Cruises</span>
          <h4><span class="location">International</span> 2012-2016</h4>
          <ul>
            <li>Developed shows and guest events with Music Director and Activity Manager.</li>
            <li>Responsible for entertaining and developing genuine relationships wtih hundreds of guests a week.</li>
            <li>Promoted sales across multiple departments by connecting with customers on a personal level.</li>
          </ul>
        </div>
        <div class="experience-unit">
          <h3>Event Manager</h3>
          <span class="company">The Monkey Nest</span>
          <h4><span class="location">Austin, TX</span> 2010-2012</h4>
          <ul>
            <li>Fostered positive interpersonal relationships between clients, talent, and coworkers.</li>
            <li>Responsible for booking live music and promoting in-house events across multiple platforms.</li>
            <li>Designed and maintained marketing materials and signage.</li>
          </ul>
        </div>
        <div class="experience-unit">
          <h3>Assembly <span class="amp">&</span> Q.A.</h3>
          <span class="company">Malekko Heavy Industry</span>
          <h4><span class="location">Austin, TX</span> 2008-2010</h4>
          <ul>
            <li>Soldered, wired, and tested a variety of both analog and digital guitar effect pedals.</li>
            <li>Soldered, wired, and calibrated hundreds of analog synthesizer modules.</li>
            <li>Helped oversee inventory management and parts ordering.</li>
          </ul>
        </div><!-- .experience-unit -->
      </div><!-- .experience-grid -->
    </div><!-- .resume-unit -->
    <div class="resume-unit">
      <div class="qualifications">
        <ul>
          <li>Acute familiarty with <a href="http://www.wordpress.org" alt="WordPress">WordPress</a> as a CMS.</li>
          <li>Extensive experience building WordPress themes from scratch.</li>
          <li>Ability to program a WordPress site from a static design or non-WordPress site.</li>
          <li>Large <a href="#work" alt="portfolio of work">portfolio of work</a> released under the MIT and GPL licenses.</li>
          <li>Tasteful and mutable sense of design across multiple mediums.</li>
          <li>Writes concise and well-documented code in several languages, always with <a href="http://www.github.com/pedmands" alt="Preston Edmands on github">version-control</a>.</li>
          <li>Strong understanding of a multitude of creative disciplines.</li>
          <li>Life-long learner. [ <a href="https://www.freecodecamp.com/pedmands" alt="Preston Edmands on free code camp">1</a> , <a href="https://www.codecademy.com/microRockstar23500" alt="Preston Edmands on Codecademy">2</a> ]</li>
        </ul>
      </div> <!-- .qualifications -->
    </div><!-- .resume-unit -->
    <div class="resume-unit">
      <div class="software">
        <ul>
          <li>Illustrator CC
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
            </span>
          </li>
          <li>Photoshop CC
          <span class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
          </li>
          <li>InDesign CC
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
              <i class="fa fa-star dark"></i>
            </span></li>
          <li>NetBeans
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
              <i class="fa fa-star dark"></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
          <li>Jekyll
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
              <i class="fa fa-star dark"></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
          <li>WordPress
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
          <li>git
            <span class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star dark"></i>
            <i class="fa fa-star dark"></i>
          </span>
          </li>
          <li>Sketch
            <span class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star dark"><span class="star-half"></span></i>
            <i class="fa fa-star dark"></i>  <i class="fa fa-star dark"></i>  <i class="fa fa-star dark"></i>
          </span>
          </li>
        </ul>
      </div><!-- software -->
    </div><!-- .resume-unit -->
    <div class="resume-unit">
      <div class="languages">
        <ul>
          <li>HTML 5
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
            </span>
          </li>
          <li>Javascript ES6
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
          <li>jQuery
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
            </span>
          </li>
          <li>CSS 3
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
            </span>
          </li>
          <li>Sass
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
          <li>Less
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
              <i class="fa fa-star dark"></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
          <li>Php
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
          <li>WordPress
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
          <li>MySQL
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
              <i class="fa fa-star dark"></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
          <li>Ruby
            <span class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star dark"><span class="star-half"></span></i>
              <i class="fa fa-star dark"></i>
              <i class="fa fa-star dark"></i>
            </span>
          </li>
        </ul>
      </div><!-- .languages -->
    </div><!-- .resume-unit -->
  </div><!-- .resume-belt -->

</section>
