<section id="resume-2">
  <header class="section-header">
    <h1 class="section-title">resume</h1>
  </header>
  <div class="resume-tabs">
    <div class="resume-tab active-tab">Experience</div>
    <div class="resume-tab">Qualifications</div>
    <div class="resume-tab">Software</div>
    <div class="resume-tab">Languages</div>
  </div>
  <div class="resume-controls fullwidth">
    <div class="resume-control-prev"></div>
    <div class="resume-control-next"></div>
  </div>
  <div class="resume-belt">
    <div class="resume-unit">
      content.
    </div>
  </div>
</section>
