<section id="resume">
   <header class="section-header">
      <h1 class="section-title">resume</h1>
   </header>
<div class="tab-container">
  <span class="tabs" id="resume-tabs">
        <button class="resume-tab-label current" data-tab="exp">Experience</button>
        <button class="resume-tab-label" data-tab="qualifications">Qualifications</button>
        <button class="resume-tab-label" data-tab="software">Software</button>
        <button class="resume-tab-label" data-tab="languages">Languages</button>
  </span><!-- .resume-tabs -->
    <div id ="exp" class="resume-tab-content current">
    <div id="experience">
      <section>
        <h3>Solo Guitarist & Vocalist</h3>
        <span class="company">Celebrity Cruises</span>
        <h4><span class="location">International</span> 2012-2016</h4>
        <ul>
          <li>Developed shows and guest events with Music Director and Activity Manager.</li>
          <li>Responsible for entertaining and developing genuine relationships wtih hundreds of guests a week.</li>
          <li>Promoted sales across multiple departments by connecting with customers on a personal level.</li>
        </ul>
      </section>
      <section>
        <h3>Events Coordinator / Manager</h3>
        <span class="company">Monkey Nest Coffee</span>
        <h4><span class="location">Austin, TX</span> 2010-2012</h4>
        <ul>
          <li>Created positive interpersonal relationships with customers and fellow employees.</li>
          <li>Designed and maintained in-store marketing materials and signage.</li>
          <li>Responsible for booking live music and promoting in-store events across multiple platforms.</li>
        </ul>
      </section>
      <section>
        <h3>Assembler & QA Tester</h3>
        <span class="company">Malekko Heavy Industry Corp</span>
        <h4><span class="location">Austin, TX</span> 2008-2010</h4>
        <ul>
          <li>Soldered, wired, and tested a variety of both analog and digital guitar effect pedals.</li>
          <li>Soldered, wired, and calibrated hundreds of analog synthesizer modules.</li>
          <li>Helped oversee inventory management and parts ordering.</li>
        </ul>
      </section>
     </div><!-- /#experience -->
   </div><!-- /#exp -->

     <div id="qualifications" class="resume-tab-content">
       <section>

         <ul>
           <li>Acute familiarty with <a href="http://www.wordpress.org" alt="WordPress">WordPress</a> as a CMS.</li>
           <li>Extensive experience building WordPress themes from scratch.</li>
           <li>Ability to program a WordPress site from a static design or non-WordPress site.</li>
           <li>Large <a href="#work" alt="portfolio of work">portfolio of work</a> released under the MIT and GPL licenses.</li>
           <li>Tasteful and mutable sense of design across multiple mediums.</li>
           <li>Writes concise and well-documented code in several languages, always with <a href="http://www.github.com/pedmands" alt="Preston Edmands on github">version-control</a>.</li>
           <li>Strong understanding of a multitude of creative disciplines.</li>
           <li>Life-long learner. [ <a href="https://www.freecodecamp.com/pedmands" alt="Preston Edmands on free code camp">1</a> , <a href="https://www.codecademy.com/microRockstar23500" alt="Preston Edmands on Codecademy">2</a> ]</li>
         </ul>
       </section>

     </div><!-- /#qualifications -->
     <div id="software" class="resume-tab-content">
          <ul class="resume-software">
            <li class="bar-3">Illustrator CC</li>
            <li class="bar-4">Photoshop CC</li>
            <li class="bar-3">InDesign CC</li>
            <li class="bar-2">NetBeans</li>
            <li class="bar-1">Jekyll</li>
            <li class="bar-3">WordPress</li>
            <li class="bar-2">git</li>
            <li class="bar-2">Sketch</li>
          </ul>
     </div><!-- /#software -->
     <div id="languages" class="resume-tab-content">
        <ul class="resume-languages">
          <li class="bar-4">HTML 5</li>
          <li class="bar-3">Javascript ES6</li>
          <li class="bar-4">jQuery</li>
          <li class="bar-3">CSS 3</li>
          <li class="bar-4">Sass</li>
          <li class="bar-1">Less</li>
          <li class="bar-2">Php</li>
          <li class="bar-3">WordPress</li>
          <li class="bar-1">MySQL</li>
          <li class="bar-2">Ruby</li>
        </ul>
     </div><!-- /#languages -->
  </div> <!-- .tab-container -->
</section>
