<section id="work">
   <header class="section-header">
      <h1 class="section-title">Work</h1>
   </header>
      <div class="work-wrapper">
         <button class="left-arr"></button>
         <div class="thumb-container">

            <a href="" class="thumb-unit">
              <span class="thumb-overlay">
                <strong>Film Maker</span></strong>
                <span class="zoom-icon"></span>
              </span>
            </a>
            <a href="" class="thumb-unit">
              <span class="thumb-overlay">
                <strong>Film Maker</span></strong>
                <span class="zoom-icon"></span>
              </span>
            </a>
            <a href="" class="thumb-unit">
              <span class="thumb-overlay">
                <strong>Film Maker</span></strong>
                <span class="zoom-icon"></span>
              </span>
            </a>
            <a href="" class="thumb-unit">
              <span class="thumb-overlay">
                <strong>Film Maker</span></strong>
                <span class="zoom-icon"></span>
              </span>
            </a>
            <a href="" class="thumb-unit">
              <span class="thumb-overlay">
                <strong>Film Maker</span></strong>
                <span class="zoom-icon"></span>
              </span>
            </a>
            <a href="" class="thumb-unit">
              <span class="thumb-overlay">
                <strong>Film Maker</span></strong>
                <span class="zoom-icon"></span>
              </span>
            </a>
            <a href="" class="thumb-unit">
              <span class="thumb-overlay">
                <strong>Film Maker</span></strong>
                <span class="zoom-icon"></span>
              </span>
            </a>
            <a href="" class="thumb-unit">
              <span class="thumb-overlay">
                <strong>Film Maker</span></strong>
                <span class="zoom-icon"></span>
              </span>
            </a>
         </div><!-- .thumb-container -->
         <button class="right-arr"></button>
       </div><!-- .work_wrapper -->
<img src="assets/img/frill.png" alt="">
</section><!-- #work -->
