<section id="work">
   <header class="section-header">
      <h1 class="section-title">Work</h1>
   </header>
    <button class="left-arr"></button>
      <div class="work-wrapper">
         <div class="thumb-container">
          {% for project in site.data.settings.projects %}
            <a href="" class="thumb-unit" style="background-image: url(/assets/img/work/{{project.folder}}/thumb.png)">
              <span class="thumb-overlay">
                <h3 class="thumb-title">{{ project.name }}</h3>
                <i class="fa fa-search"></i>
                <h4 class="thumb-cat">{{ project.category }}</h4>
              </span>
            </a>
          {% endfor %}
         </div><!-- .thumb-container -->
       </div><!-- .work_wrapper -->
       <button class="right-arr"></button>
<img src="assets/img/frill.png" alt="">
</section><!-- #work -->
