<section id="work">
   <header class="section-header">
      <h1 class="section-title">Work</h1>
   </header>

   <div class="work-container">

         <button>Left Arrow</button>
      <div id="all">
         <div class="thumb-container">
            <ul id="work-thumbs">
              {% for portfolio_item in site.portfolio %}
              {{ portfolio_item.var1 }}
              	{{ portfolio_item.var2 }}
              {{ portfolio_item.var3 }}
              	{{ portfolio_item.var4 }}
              	{% endfor %}
            </ul>
         </div><!-- .thumb-container -->
      </div>
      <div id="wordpress">WP Content</div>
      <div id="graphic">Graphic design content</div>
      <div id="web-dev">Web Dev content</div>
      <div id="web-design">Web Design content</div>
         <button>Right Arrow</button>

      <ul id="work-tabs">
         <li class="work-label" data-tab="all">All</li>
         <li class="work-label" data-tab="wordpress">WordPress</li>
         <li class="work-label" data-tab="graphic">Graphic Design</li>
         <li class="work-label" data-tab="web-dev">Web Development</li>
         <li class="work-label" data-tab="web-design">Web Design</li>
   </ul><!-- .work-tabs -->
   </div><!-- work-container -->
</section><!-- #work -->
