$pink: #f54ca3;
$purple: #9e4cf5;
$yellow: #fff700;
$blue: #4ca3f5;
$orange: #f59e4c;
$pastel: #fcdcec;
$green: #0bb35c;

$gray1: #DADADA;
$gray2: #999;
$gray3: #515151;
$gray4: #262626;
$gray5: #1a1a1a;





// --- Old grays - keeping around for now incase any classes reference them directly.

$darkGray: #262626;
$midGray: #515151;
$lightGray: #DADADA;
