$pink: #eb868c;
$purple: #8E4685;
$yellow: #ffcc00;
$blue: #4DA5F5;
$orange: #E45746;

$darkGray: #262626;
$midGray: #515151;
$lightGray: #DADADA;

$gray1: $lightGray;
$gray2: #999;
$gray3: $midGray;
$gray4: $darkGray;
$gray5: #1a1a1a;
