@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700i|Source+Sans+Pro:400,600|Concert+One:text=ABCDEFGHIJKLMNOPQRSTUVWXYZ');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
body {}
p {
   font-family: 'Noto Serif';
}
h1, h2, h3, h4, h5 {
   font-family: 'Source Sans Pro';
   font-weight: 600;
   text-transform: uppercase;
}
