#resume-2 {
  position: relative;
  background-color: #444;
  color: white;
  height:100%;
}

.resume-belt {
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
  .resume-unit {
    max-width: 1010px;
    margin: 0 auto 5rem;
  }
}
.resume-tabs {
  position: relative;
  max-width: 60rem;
  margin: 0 auto 6rem;
  display: flex;
  align-items: space-around;
  justify-content: center;
  .resume-tab {
    color: #fff;
    background: none;
    box-shadow: none;
    border: none;
    padding: .5rem 2rem;
    margin: 2rem;
    font-size: 1.8rem;
    text-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
    &.active-tab {
      background-color: #2b2b2b;
      color: #ffcc00;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
      box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
    }
    &:hover {
      box-shadow: none;
      color: #ffcc00;
    }
  }// .resume-tab
}// .resume-tabs
.resume-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  .resume-control-prev {
    position: absolute;
    top:50%;
    left: 2rem;
  }
  .resume-control-next {
    position: absolute;
    top: 50%;
    right: 2rem;
  }
  .resume-control-prev,
  .resume-control-next {
    &:before{font-family: FontAwesome; color: #ccc; font-size: 4rem;}
  }
  .resume-control-prev:before {content: '\f104';}
  .resume-control-next:before {content: '\f105';}
}
