section {
  padding:0 50px;
  text-align: center;
  .section-title {
    padding-top: 80px;
  }
}
.lander-wrap {
   background: url('assets/img/header.png');
   background-position: right bottom;
}
#home {
   position: relative;
   .cover-letter {
      .letter-content { height: 100%; position: relative;}
      h1,h2,h3,h4 {font-family: 'Noto Serif';text-transform: none;}
      background-color: #fff;
      margin: 16px calc(50% - 300px); //width 600px
      height:75%;
      padding: 32px;
      position:absolute;
      bottom: 25px;
      box-shadow: -4px 4px 0 #000;
      z-index: 100;
      #dear-john {
         font-weight: 700;
         font-style: italic;
         margin-bottom: 25px;
      }// #dear-john
      #sincerely {
         text-align: right;
         font-style: italic;
      }
      .signature {
         text-align: right;
         position: absolute;
         bottom:15px;
         right:0;
         .sig-box {
           padding-top:30px;
         }
         #date {
           font-style: italic;
         }
      }// .signature
      .nav-down {
        padding: 0;
        font-size: 50px;
        background: none;
        border: none;
        box-shadow: none;
        position: absolute;
        bottom: -30px;
        width: 100%;
        text-align: center;
      }
      .dropcap {
        float: left;
        color: #999;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-weight: 400;
        font-family: 'Oswald';
      }//dropcap
   }// .cover-letter
   .dark-bar {
      width: 100%;
      height: 80px;
      background-color: #252525;
      position: absolute;
      bottom: 0;
   }
}// #home
#resume {
  background-color: #444444;
  color: #fff;
  padding-bottom:60px;
  #exp {
    #experience {
      display: block;
      margin: 0 auto;
      section {
        display: inline-block;
        width: 400px;
        padding: 0;
        padding-bottom: 30px;
        h3 {
          font-size: 30px;
          text-align: left;
          border-bottom: 2px solid #ffcc00;
        }// h3
        .company {
          text-align: left;
          display: block;
          font-style: italic;
          font-weight: 600;
        }// .company
        h4 {
          font-style: italic;
          font-weight: 400;
          text-align: left;
          text-transform: none;
          margin-bottom: 20px;
          .location{
            display: inline-block;
            &:after {
              content: '/';
              display: inline-block;
              margin: 0 5px;
            }
          }// .location
        }// h4
        ul{
          text-align: left;
          margin-left: 25px;
          list-style-type:  square;
        }
      }// #experience section
    }// #experience
  }// #exp
  #qualifications {
    section{
      max-width: 900px;
      margin: 0 auto;
      ul{
        width:100%;
        text-align: left;
        font-size: 20px;
        li {
          display: inline-block;
          margin: 15px 0;
          &:before {
            font-family: FontAwesome;
            font-size: 16px;
            color: #ffcc00;
            margin-right: 15px;
          }// li:before
          a {
            color: #ffcc00;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }// li a
        }// li
      }//ul
    }//section
  } // #qualifications
  #qualifications section ul li:before {
    content: '\f046';
  }
  #software, #languages {
    margin: 0 auto;
    ul{
      width:100%;
      text-align: left;
      font-size: 20px;
      li {
        display: inline-block;
        margin: 15px 0;
        &:before {
          font-family: FontAwesome;
          font-size: 16px;
          color: #ffcc00;
          margin-right: 15px;
        }// li:before
        a {
          color: #ffcc00;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }// li a
      }// li
    }//ul
  }// #software, #languages
  #software ul li.bar-1:before,
    #languages ul li.bar-1:before {
    content: '\f243';
  }
  #software ul li.bar-2:before,
    #languages ul li.bar-2:before {
    content: '\f242';
  }
  #software ul li.bar-3:before,
    #languages ul li.bar-3:before {
    content: '\f241';
  }
  #software ul li.bar-4:before,
    #languages ul li.bar-4:before {
    content: '\f240';
  }
}// #resume
#social-1 {
  background-color: #252525;
  text-align: center;
  color: #444444;
  font-size: 60px;
  i {
    margin: 0 100px;
  }
}
#work {
  background-color: #969696;
}
