section {
  padding:0 5rem;
  text-align: center;
  @media only screen and (max-width:$bp-laptop){
    padding:0;
  }
  .section-title {
    padding-top: 80px;
  }
  .section-header {
    margin-bottom: 50px;
  }
}
.lander-wrap {
   background: url('assets/img/header.png');
   background-position: right bottom;
}
#home {
   position: relative;
   .cover-letter {
      .letter-content { height: 100%; position: relative;}
      h1,h2,h3,h4 {font-family: 'Noto Serif';text-transform: none;}
      background-color: #fff;
      margin: 16px calc(50% - 300px); //width 600px
      height:75%;
      padding: 32px;
      position:absolute;
      bottom: 25px;
      box-shadow: -4px 4px 0 #000;
      z-index: 100;
      #dear-john {
         font-weight: 700;
         font-style: italic;
         margin-bottom: 25px;
      }// #dear-john
      #sincerely {
         text-align: right;
         font-style: italic;
      }
      .signature {
         text-align: right;
         position: absolute;
         bottom:15px;
         right:0;
         .sig-box {
           padding-top:30px;
         }
         #date {
           font-style: italic;
         }
      }// .signature
      .nav-down {
        padding: 0;
        font-size: 50px;
        background: none;
        border: none;
        box-shadow: none;
        position: absolute;
        bottom: -30px;
        width: 100%;
        text-align: center;
      }
      .dropcap {
        float: left;
        color: #999;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-weight: 400;
        font-family: 'Oswald';
      }//dropcap
   }// .cover-letter
   .dark-bar {
      width: 100%;
      height: 80px;
      background-color: #252525;
      position: absolute;
      bottom: 0;
   }
}// #home
#resume {
  background-color: #444444;
  color: #fff;
  padding-bottom:5rem;
  #exp {
    width:100%;
    #experience {
      display: block;
      margin: 0 auto;
      text-align: left;
      section {
        display: inline-block;
        text-align: left;
        width: 325px;
        margin-bottom: 3rem;
        padding:0;
        @media only screen and (max-width: $bp-laptop){
          width:400px;
        }
        h3 {
          @include thickUnderline(#999999,#444444);
          font-family: Ampersand, 'Source Sans Pro';
          font-size: 3rem;
          line-height: 1;
          text-align: left;
          text-transform: none;
          color:#efefef;
        }// h3
        .company {
          font-style: italic;
          color: #999999;
          font-weight: 600;
          text-transform: uppercase;
        }// .company
        h4 {
          display: inline-block;
          font-style: italic;
          text-transform: none;
          margin-bottom: 1rem;
          color: #999999;
          .location{
            &:after {
              content: '/';
              display: inline-block;
              margin-left:5px;
            }
          }// .location
        }// h4
        ul{
          font-family: "Noto Serif";
          text-align: left;
          list-style-type:  none;
          line-height: 1.5;
          li {
            margin-bottom: 1rem;
            &:before {
              font-family: FontAwesome;
              content: '\f0c8';
              color:#ffcc00;
              margin-right: 1.5rem;
              vertical-align: middle;
              font-size: 1rem;
            }
          }

        }
      }// #experience section
    }// #experience
  }// #exp
  #qualifications {
    section{
      max-width: 900px;
      margin: 0 auto;
      ul{
        width:100%;
        text-align: left;
        font-size: 1.8rem;
        font-family: "Noto Serif";
        li {
          display: inline-block;
          margin: 1.2rem 0;
          &:before {
            font-family: FontAwesome;
            font-size: 1.5rem;
            color: #ffcc00;
            margin-right: 1.5rem;
          }// li:before
          a {
            color: #ffcc00;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }// li a
        }// li
      }//ul
    }//section
  } // #qualifications
  #qualifications section ul li:before {
    content: '\f046';
  }
  #software, #languages {
    .stars {
      display: block;
      color: #ffcc00;
      .fa-star.dark {
        color: #050505;
        position: relative;
      }
      .fa.fa-star-half {
        z-index: 100;
      }
      .star-half {
        z-index:0;
        &:before {
          font-family: FontAwesome;
          content: '\f089';
          color: #ffcc00;
          font-size: 100%;
          position: absolute;
          left: 0;

        }
      }
    }
    margin: 0 auto;
    width:100%;
    max-width: 900px;
    ul{
      text-align: center;
      font-size: 2rem;
      font-family: "Noto Serif";
      margin: 0 auto;
      color: #fff;
      li {
        display: inline-block;
        width: 175px;
        margin: 1rem 0;
        padding: 1rem;
        background-color: #252525;
        max-width: 100%;
        overflow-x: auto;
        vertical-align: middle;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.5),0 -1px 0 rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
        box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
        a {
          color: #ffcc00;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }// li a
      }// li
    }//ul
  }// #software, #languages

}// #resume
#social-1 {
  background-color: #252525;
  text-align: center;
  color: #444444;
  i {
    margin: 2rem 9rem;
    font-size: 6rem;
    @include respond-to(tablet){margin: 2rem 4rem;}
    @include respond-to(phone){margin: 2rem 3rem;}
    @include respond-to(desktop){margin: 2rem 12rem;}
  }
}
#work {
  position: relative;
  background-color: #969696;
  padding-bottom: 5rem;
  overflow-x:hidden;
  padding:0;
  .work-belt {
    transition: all .4s ease-in;
    width:200%;
    position: relative;
    left: 0;
  }
  .thumb-wrap,.work-wrap {
    width:50%;
    float: left;
  }
  .section-title {color:#252525;}
  .thumb-container {
    max-width:1024px;
    margin:0 auto;
    padding-bottom: 6rem;
    @include clearfix;
    .thumb-unit {
      background: #444444;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      width: 25%;
      float:left;
      margin: 0;
      position: relative;
      padding-top: 14%;
      overflow: hidden;
      @include respond-to(phone){
        width:100%;
        padding-top: 56%;
      }
      @include respond-to(tablet){
        width:50%;
        padding-top:28%;
      }
      @include respond-to(laptop){
        width:33.33%;
        padding-top: 17%;
      }
      .thumb-overlay {
        cursor: pointer;
        text-align: center;
        transition: all .2s ease-out;
        position: absolute;
        top: 100%;
        left:0;
        width:100%;
        height:100%;
        background: rgba(#333,.6);
        h3 {
          padding-top: 2.5rem;
          color: #fff;
          font-size: 1.75rem;
          line-height: 1.2;
        }
        h4 {
          transition: all 1s ease-out;
          color: #eee;
          font-family: 'Noto Serif', serif;
          text-transform: none;
          font-style: italic;
          font-weight: 400;
          font-size: 1.75rem;
          line-height: .85;
        }
        .frill {
        width:50%;
        }
      }
      &:hover .thumb-overlay {
        top: 0;
      }
    }// .thumb-unit
  }// .thumb-container
  .work-container {
    max-width:600px;
    margin:0 auto;
    padding-bottom: 6rem;
    position: relative;
    display: none;
    img {
      max-width: 100%;
      margin-bottom: 2rem;
    }
    .work-title {
      text-align: left;
    }
    h4 {
      display: inline-block;
      color: #fff;
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }
    i {
      cursor: pointer;
      display: inline-block;
      font-size: 2.8rem;
      color: #21b4da;
      margin-right: 2rem;
      margin-bottom:1rem;
      vertical-align: middle;
      &:hover {
        color:#027a99;
      }
    }
  }// .work-container
  .left-arr, .right-arr {
    height:100%;
    width: 8rem;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    color: #777777;
    &:hover {
      color: #252525;
    }
    &:before {
      font-family: FontAwesome;
      font-size: 5rem;
    }
  }
  .left-arr {
    position: absolute;
    left: 6rem;
    top: 50%;
    transform: translateY(-50%);
    &:before {
      content: '\f104';
    }
  }// .left-arr
  .right-arr {
    position: absolute;
    right: 6rem;
    top: 50%;
    transform: translateY(-50%);
    &:before {
      content: '\f105';
    }
  }// .right-arr


}// #work
