.github {
  display: block;
  background: $blue;
  color: #fff;
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 3rem;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  &:before {
    font-family: FontAwesome;
    content: '\f09b';
    margin-right: 2rem;
    font-size: 2.5rem;
    vertical-align: middle;
  }
  &:hover {
    box-shadow: none;
    background: lighten($blue, 10%);
  }
  &:visited {
    color: #ddd;
  }
}
