.menu-bg {
  transition: all .4s ease-in-out;
  display: block;
  width:100%;
  height:  70px;
  position: fixed;
  top: 0;
  left: 0;
  background: #1A1A1A;
  z-index:100;
  opacity:0;
}
.menu-bg-sticky {
  opacity:1
}
#menu-toggle {
  padding:0;
   background: transparent;
   border: none;
   box-shadow: none;
   text-shadow: none;
   text-align: center;
   font-size: 30px;
}
.fa-bars {
  &::before {
  color: #de638c;
  text-shadow: -2px 2px 0 #252525;
  }
}
.logo {
  transition: all .45s ease-in-out;
  position: fixed;
  top:10px;
  right:0;
  height: 60px;
  width:60px;
  z-index: 101;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  .logo-img {
    height: 45px;
  }
  &.fly-out {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
  }
}// .logo
#menu {
  h1 {
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
    margin-top: 2rem;
    .description {
      display: block;
      font-size: 2rem;
      font-family: "Merriweather", serif;
      color: $lightGray;
      font-weight: 400;
      font-style: italic;
      text-transform: none;
    }// .description
  }// h1
  .separator {
      width: 100%;
      height: 4px;
      line-height: 0px;
      padding: 8px 0;
      text-align: center;
  }// .separator
  .separator span {
  	height: 2px;
  	background: #fff;
  	display: inline-block;
  	width: 100px;
  	opacity: 0.15;
  	filter: alpha(opacity=15);
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  }// .separator span
  .separator.size-full span { width: 100%; }
  .separator.size-medium span { width: 220px; }
  .separator.size-small span { width: 100px; }
  .separator.size-mini span { width: 40px; }
  ul {
    list-style-type: none;
    margin: 1rem 0;
    text-align: right;
    li {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 3rem;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 auto;
      padding: 1rem 3rem;
      &:hover {
        background: $gray1 !important;
        a {
          color:$pink !important;
        }
      }// &:hover;
      a {
        width:100%;
        display: block;
        text-decoration: none;
        color: $gray1;
        &:hover {
          color: $pink;
        }
      }// a
    }// li
  }// ul
  #menu-social {
    color: $gray1;
    width:100%;
    text-align: center;
    i {
      margin: 2rem;
      font-size: 4rem;
    }
  }
}// #menu
