#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#content {
   width:100%;
   overflow: hidden;
   position: relative;
   transition: all .4s ease-in;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /*-webkit-backface-visibility: hidden;
  backface-visibility: hidden;*/
}
.show-nav #content {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);

  transform: translate3d(300px, 0, 0);
  -webkit-transform: translate3d(300px, 0, 0);
}
#menu {
  background: url('assets/img/header.png');
  background-position: right bottom;
  background-color: $pink;
  transition: all .4s ease-in;
	width: 300px;
	position: fixed;
	left: -300px;
	top: 0;
  height:100%;
  overflow: visible;
  z-index:100;
}
#menu.open {
   left:0;
}
#menu-toggle {
  transition: all .3s ease-in-out;
   width: 70px;
   height: 70px;
   position: absolute;
   right:-70px;
   top:0;
}
#menu-toggle.hide {
  top: -70px;
}
#menu-toggle.toggled.hide {
  top: 0;
}
.snap-out {
   -webkit-transition: all 300ms cubic-bezier(.694, .0482, .335, 1);
   transition: all 300ms cubic-bezier(.694, .0482,.335, 1);
}
