::-webkit-scrollbar {
    width: 12px;
    background: $gray5;
    z-index: -1;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 2px 0 1px rgba(0,0,0,.5);
    background:lighten($gray4,10%);
}
