.tab-container {
  position:relative;
  width:100%;
}
.resume-tab-label {
  color: #fff;
  padding: 8px 32px;
  margin: 50px 30px;
  background: none;
  box-shadow: none;
  border: none;
  font-size: 16px;
  text-shadow: none;
  text-transform: uppercase;
  &:hover {
    box-shadow: none;
    color: #ffcc00;
  }
}
.resume-tab-label.current {
  background-color: #2b2b2b;
  color: #ffcc00;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
}
.resume-tab-content {
  display: none;
  transition: all .5s ease-out;
}
.resume-tab-content.current {
  display: block;
}
