#about {
  transition: all .5s ease-in-out;
  text-align: left;
  background: $gray4;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  .bio-belt {
    @include clearfix;
    transition: all .4s ease-out;
    width:200%;
    transform: translateX(0%);
    &.toggled {
      transform: translateX(-50%);
    }
  }
  aside {
    float: left;
    width: 50%;
  }
  .section-title {
    color:#fff;
  }
  .skills-lockup {
    margin: 1rem auto;
    max-width: 90rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }// .skills-lockup
  .face-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url(/assets/img/face.png);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }// .face-image
  [class^="icon-"]{
    position: relative;
    height: 100px;
    width: 150px;
    text-align: center;
    path {
      fill: $orange;
    }
    .path {
      overflow: hidden !important;
      overflow-y: hidden;
      margin: 0 auto;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: $gray5;
      border: 1px solid $orange;
    }// .path
    strong {
      position: absolute;
      bottom:-10px;
      left:50%;
      transform: translateX(-50%);
      display: block;
      background:$gray4;
      text-transform: uppercase;
      color: $orange;
      text-shadow: 1px 1px 0 #000;
      margin-top:1rem;
      padding: 2.5px 0;
      font-weight: 300;
      font-style: italic;
      font-size: 1.5rem;
      font-family: "Raleway", sans-serif;
    }
    &.icon-keyboard {
      order: 1;
    }
    &.icon-pencil {
      order: 2;
    }
    &.icon-steering-wheel {
      order: 4;
    }
    &.icon-wrench {
      order: 5;
    }
  } // .icon-*
  .blurb {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem;
    font-size: 1.75rem;
    font-family: "Merriweather", serif;
    font-weight: 300;
  }// .blurb
  .about-toggle-box {
    display: block;
    text-align: center;
    margin: 3rem auto 1rem;
    .about-toggle {
      box-shadow: none;
      border: none;
      background: none;
      vertical-align: middle;
      width: 85px;
      height:55px;
      padding: 0;
      overflow: hidden;
      svg {
        transform: scale(.5);
        fill: $gray3;
        overflow: hidden;
        width:85px;
        height:55px;
      }
      &.toggled {
        transform: rotate(180deg);
      }
    }// .about-toggle
    [class^='toggle-']{
      transition: all .4s ease-out;
      transform: scale(.65);
      width: 80px;
      height: 80px;
      display: inline-block;
      overflow: hidden;
      vertical-align: top;
      cursor: pointer;
      svg {
        fill: $gray3;
      }
      &.toggled {
        transform: scale(1);
        svg {
          fill: $orange;
        }
      }
    }// .toggle-*
    .toggle-sunglasses {
      &.toggled {
        transform:translateY(25px);
      }
    }
  }// .about-toggle-box
  @media only screen and (max-width: $bp-phone){
    [class^="icon-"]{
    transform: scale(1.1);

    }
  }// media max-width: $bp-phone
  @media only screen and (max-width: $bp-tablet){
    .skills-lockup {
      display: block;
      text-align: center;
      [class^="icon-"]{
      display: inline-block;
      margin-bottom: 3rem;
      }
    }
    .face-image {
      display: block;
      margin: 2rem auto;
    }
  }// media max-width: $bp-tablet
  @media only screen and (min-width: $bp-tablet){
    .blurb {

      font-size: 1.5rem;
      letter-spacing: .5px;
      p {
        margin-bottom: 2rem;
      }
    }
  }// media min-width: $bp-tablet
}// #about
