#clients {
  background-color: $gray3;
  
  .section-header {
    .section-title {
      color:#e5eaee;

    }
  }// .section-header
  .clients-container {
    margin: 0 auto;
    max-width: 100rem;
    display: table;
    table-layout: fixed;
    @media screen and (max-width: $bp-tablet){
      display: block;
    }
    align-items: center;
    justify-content: space-around;

    .client {
      @media screen and (max-width: $bp-tablet){
        display: block;
        margin: 0 auto;
        min-height: 1rem;
      }
      @media screen and (min-width: $bp-tablet){
        display: table-cell;
        width: 33%;
      }
      max-width: 40rem;
      min-height: 50rem;
      text-align: center;
      .client-face {
        box-shadow: -2px -2px 0 rgba(0,0,0,.4), 2px 2px rgba(255,255,255,.15);
        margin: 0 auto 1rem;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background-size: cover;
      }// .client-face
      .client-name {
        color: $orange;
        font-size: 2rem;
        @media screen and (max-width: $bp-tablet){
          font-size: 2.25rem;
        }
      }
      .client-title, .client-company {
        display: inline-block;
        font-family: "Noto Serif", serif;
        color: #ddd;
        text-transform: none;
        font-style: italic;
        @media screen and (max-width: $bp-tablet){
          font-size: 2rem;
        }
      }// .client-title, .client-company
      .testimonial {
        color: #eee;
        padding: 2rem;
        position: relative;
        margin: 2rem auto 5rem;
        @media screen and (max-width: $bp-tablet){
          margin: 0 auto;
          padding: 1rem;
          padding-top: 1rem;
          padding-bottom: 5rem;
          font-size: 1.75rem;
        }
        &:before {
          font-family: FontAwesome;
          content: '\f10d';
          font-size: 4rem;
          position: absolute;
          top: -1rem;
          left: 0;
          color: $gray2;
          @media screen and (max-width: $bp-tablet){
            top: -1.5rem;
          }
        }
      }
    }// .client
  }// .clients-container
}// #clients
