#clients {
  background-color: $gray3;
  .section-header {
    .section-title {
      color:$gray5;
    }
  }// .section-header
  .clients-container {
    margin: 0 auto;
    max-width: 90%;
    display: table;
    table-layout: fixed;
    @media screen and (max-width: $bp-tablet){
      display: block;
      max-width:100%;
    }
    @media screen and (min-width: $bp-tablet + 1) and (max-width: $bp-laptop){
      max-width: 100%;
    }
    .client {
      min-height: 50rem;
      display: table-cell;
      width: 33%;
      padding: 0 2rem;
      @media screen and (max-width: $bp-tablet){
        border-bottom: 1px solid $gray5;
        display: block;
        width:100%;
        margin: 0 auto;
        max-width:100%;
        padding: 0;
      }
      @media screen and (min-width: $bp-tablet + 1) and (max-width:$bp-laptop){
        padding: 0;
        font-size: 1.4rem;
      }
      .face-bg {
        @media screen and (max-width: $bp-tablet){
          display: block;
          height: 100%;
          width:100%;
          padding-top: 2rem;
        }
      }
      .client-face {
        background: $gray4;
        box-shadow: -2px -2px 0 rgba(0,0,0,.4), 2px 2px rgba(255,255,255,.15);
        margin: 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-size: cover;
        @media screen and (max-width:$bp-tablet){
          width:200px;
          height:200px;
        }
      }// .client-face
      .client-details {
        @include respond-to(phone){
          display: block;
          width:100%;
          padding: 1rem 0;
        }
        @include respond-to(tablet){
          display: block;
          width:100%;
          padding: 1rem 0;
        }
      }
      .client-name {
        color: $blue;
        font-size: 2.25rem;
        @media screen and (max-width: $bp-tablet){
          font-size: 2.5rem;
        }
      }// .client-name
      .client-title, .client-company {
        display: inline-block;
        font-family: "Merriweather", serif;
        font-weight: 300;
        color: $gray1;
        text-transform: none;
        font-style: italic;
        @media screen and (max-width: $bp-tablet){
          font-size: 1.75rem;
        }
      }// .client-title, .client-company
      .testimonial {
        @include textOutline(white, $gray3, 2);
        padding: 2rem;
        position: relative;
        margin: 2rem auto;
        z-index: 100;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: left;
        &:last-child {
          margin-bottom: 0;
        }
        @include respond-to(phone){
          margin: 0;
          text-align: left;
        }
        @include respond-to(tablet){
          text-shadow: none;
          margin: 0 auto;
          padding-top: 0;
          max-width: 80%;
          font-size: 1.75rem;
          text-align: left;
        }
        &:before {
          font-family: FontAwesome;
          content: '\f10d';
          font-size: 4rem;
          position: absolute;
          top: 0;
          left: 0;
          color: $gray2;
          z-index:-1;
          text-shadow: none;
          @include respond-to(phone){
            top: -1.5rem;
            left: 1.5rem;
            font-size: 4rem;
            // @include textOutline2($pink, $gray3, 1.5);
          }
          @include respond-to(tablet){
            top: -2rem;
            left: 1rem;
          }
        }// &:before
      }// .testimonial
    .view-project {
      display: block;
      position: relative;
      overflow: hidden;
      transition: all .3s ease-in-out;
      background: $blue;
      box-shadow: 4px 4px 0 darken($blue, 30%);
      text-shadow: none;
      border: none;
      border-radius: 5px;
      margin: 0 auto;
      padding: 20px 30px;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      letter-spacing: -.05rem;
      font-size: 1.75rem;
      z-index:2;
      color: white;
      @media screen and (max-width: $bp-tablet){
        margin-bottom:3rem;
      }
      &:after {
        transition: all .3s ease-out;
        display:block;
        position: absolute;
        top:-40px;
        left:-60px;
        font-family: 'FontAwesome';
        content: '\f06e';
        font-size: 28px;
        z-index:-1;
        color: darken($blue, 30%);
      }
      &:hover {
      box-shadow: none;
      padding-left:45px;
      padding-right:15px;
      // background: darken($blue, 15%);
      &:after {
        top: 50%;
        transform: translateY(-55%);
        left:10px;
      }
      }
    }// .view-project
    }// .client
  }// .clients-container
  .separator.size-small.bottom-margin {
    margin-bottom: 3rem;
    display: block;

  }
}// #clients
