#contact {
  padding-bottom: 4rem;
  @include clearfix;
  background: url('assets/img/header.png');
  background-position: right bottom;
  .section-header {
    margin-bottom: 3rem;
    padding-top: 0;
  }
  .section-title {
    color: #fff;
  }
  #social-2 {
    text-align: center;
    color: #fff;
    i {
      margin: 2rem 5rem;
      font-size: 4rem;
      @include respond-to(tablet){margin: 2rem 4rem;}
      @include respond-to(phone){margin: 2rem 3rem;}
      @include respond-to(desktop){margin: 2rem 8rem;}
    }// i
  }// #social-2
  .big-mail {
    @include thickerUnderline($gray1,$pink,1px,3px);
    transition: all .3s ease-in-out;
    font-size: 3rem;
    font-weight: 600;
    color: $pink;
    font-family: "Raleway", sans-serif;
    letter-spacing: -.05rem;
    text-decoration: none;
    &:hover {
      color: white;
      .at-sign {
        background: $pink;
      }
    }
    .at-sign {
      background: white;
      border-radius: 50%;
      display: inline-block;
      width:70px;
      height:70px;
      font-family: At;
      padding: .5rem;
      margin: 0 1rem;
      line-height: .85;
      font-size: 8rem;
      font-weight: normal;
      vertical-align: middle;
    }
  }// .big-mail
  form {
    width: 60rem;
    margin: 5rem auto;
    @media screen and (max-width: $bp-tablet){
      width:95%;
      padding:1rem;
      margin-top:2rem;
    }
    .row {
      width:100%;
      display: table;
      table-layout: fixed;
      margin-bottom: 2rem;
      label {
        display: table-cell;
        width: 48%;
      }
    }
    span {
      color: #fff;
      text-align: center;
      display: block;
      margin: 1rem;
      font-size: 2rem;

    }
    input[type="text"],
    input[type="email"]{
      box-sizing: border-box;
      width:97%;
      margin: 0 auto;
      border-radius: 0;
      font-size: 2rem;
      padding: 1rem;
    }
    label[for="name"]{
      text-align: left;
    }
    label[for="_replyto"]{
      text-align: right;
    }
    textarea {
      border-radius: 0;
      display: block;
      box-sizing: border-box;
      width:100%;
      font-size: 2rem;
      padding: 1rem;
    }
    input[type="submit"]{
      transition: all .2s ease-in-out;
      background:$purple;
      box-shadow: 2px 2px 0 $pink;
      text-shadow: none;
      border: none;
      border-radius: 5px;
      margin: 3rem 0;
      padding: 1.25rem 2rem;
      float: right;
      color: #fff;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      letter-spacing: -.05rem;
      font-size: 2rem;
      &:hover {
        box-shadow: none;
        background: darken($purple, 10%);
      }
      @media screen and (max-width: $bp-tablet){
        display: block;
        width:100%;
      }
    }// input[type="submit"]
  }// form
}
