.lander-wrap {
   background: url('assets/img/header.png');
   background-position: right bottom;
   background-size: cover;
   background-attachment: fixed;

}
#home {
  padding-top:8rem;
  width: 100%;
   .cover-letter {
      .letter-content { height: 100%; position: relative;}
      h1,h2,h3,h4 {font-family: 'Merriweather', serif;text-transform: none;}
      background: $gray1;
      margin: 0 auto;
      max-width: 70rem;
      height:66%;
      padding: 4rem;
      box-shadow: -3px 4px 5px rgba(0,0,0,.4);
      z-index: 100;
      @include respond-to(phone){
        width: 95%;
        margin: 0;
        bottom:0;
        height: 80%;
        padding: 3rem 2.5%;
      }
      #dear-john {
         font-weight: 700;
         font-style: italic;
         margin-bottom: 25px;
      }// #dear-john
      #sincerely {
         text-align: right;
         font-style: italic;
      }
      .signature {
         text-align: right;
         position: absolute;
         bottom:0;
         right:0;
         .sig-box {
           padding-top:8rem;
         }
         #date {
           font-style: italic;
         }
      }// .signature
      .dropcap {
        float: left;
        color: #999;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-weight: 400;
        font-family: 'Oswald';
      }//dropcap
   }// .cover-letter
}// #home
