// RESUME
#resume {
  transition: all 1s ease-out;
  position: relative;
  background-color: $gray4;
  color: white;
  height:100%;
  min-height:75rem;
  .section-header {
    margin-bottom: 2rem;

  }
}
.resume-belt {
  @include no-select;
  width:100%;
  height:100%;
  margin-top:2.5rem;
  .resume-unit {
    padding: 1em calc(50%-300px);
    margin: 0 auto;
    border-radius: 10px;
    display: none;
    &.active-tab {
      display:block;
      @include zoomIn(.3s);
    }
    .experience-grid {
      max-width: 100rem;
      margin: 0 auto;
      display:table;
      table-layout: fixed;
      .experience-unit {
        display: table-cell;
        padding: 0 3rem;
        width:33%;
        height:100%;
        text-align: center;
        @media screen and (min-width: $bp-phone) and (max-width:700px){
          &:last-child{display: none;}
        }
        @include respond-to(tablet){
          padding: 0 .5rem;
          margin: 0 auto;
          font-size: 1.4rem;
        }
        @include respond-to(phone){
          display: block;
          width:95%;
          padding: 0;
          margin: 0 auto;
        }
        h4 {
          position: relative;
          font-family: Ampersand, 'Raleway', sans-serif;
          font-size: 2.5rem;
          text-transform: none;
          color:#efefef;
          font-weight: 600;
          .amp {
            font-size: 2.5rem;
            vertical-align: bottom;
            margin: 0 .25rem;
          }
        }// h4
        .company {
          font-size: 1.5rem;
          font-style: italic;
          color: #999999;
          font-weight: 600;
          // text-transform: uppercase;
        }// .company
        h5 {
          display: block;
          font-style: italic;
          text-transform: none;
          color: #999999;
          .dates{
            &:before {
              content: ' /';
              display: inline-block;
              margin:0 .5rem;
              color:$midGray;
            }
          }// .location
        }// h5
        ul{
          font-family: "Merriweather", serif;
          font-weight: 300;
          text-align: left;
          list-style-type:  none;
          line-height: 1.5;
          margin-top: 2rem;
          @include respond-to(phone){
            margin-top:1rem;
            margin-bottom:3rem;
          }
          li {
            margin-bottom: 1rem;
            font-size: 1em;
            line-height: 1.5;
            &:before {
              font-family: FontAwesome;
              content: '\f0c8';
              color:$midGray;
              margin-right: 1rem;
              vertical-align: middle;
              font-size: 1rem;
            }
          }// li
        }// ul
      }// .experience-unit
    }// .experience-grid
    .qualifications {
      max-width: 900px;
      margin: 0 auto;
      width: 95%;
      ul{
        text-align: left;
        font-size: 1em;
        font-family: "Merriweather";
        li {
          display: block;
          margin: 1.2rem 0;
          font-size: 1em;
          &:before {
            font-family: FontAwesome;
            font-size: 1.25em;
            color: $gray2;
            margin-right: 1.5rem;
            content: '\f00c';
          }// li:before
          a {
            color: $blue;
            padding-bottom:2px;
            @include thickerUnderline($gray3,$blue,$gray4,1px,3px);
            transition: all .3s ease-in-out;
            text-decoration: none;
            position: relative;
            &:visited {
                @include thickerUnderline($gray2, $blue, $gray4);
                color: $gray2;
            }
            &:hover {
              color: lighten($blue,10%);
            }
          }// li a
          [href^="http"]:not([href*="localhost"]){
            margin-right: 1.5rem;
            &:after {
              display: block;
              width: 1em; height: 1em;
              font-family: FontAwesome;
              font-size: 1.2rem;
              position: absolute;
              right: -1.5rem;
              top:0;
              content: '\f08e';
            }
          }
        }// li
      }//ul
    }// .qualifications

    .software, .languages {
      margin: 0 auto;
      width:100%;
      max-width: 900px;
      .stars {
        display: block;
        margin-top:.5rem;
        color: $blue;
        font-size: 1.75rem;
        @include respond-to(phone){
          font-size: 1.5rem;
        }
        .fa-star.dark {
          color: $gray4;
          position: relative;
        }
        .fa.fa-star-half {
          z-index: 100;
        }
        .star-half {
          z-index:0;
          &:before {
            font-family: FontAwesome;
            content: '\f089';
            color: $blue;
            font-size: 100%;
            position: absolute;
            left: 0;

          }
        }//.star-half
      }//.stars
      ul{
        text-align: center;
        font-family: "Merriweather", serif;
        margin: 0 auto;
        color: #fff;
        li {
          font-size: 1.2em;
          display: inline-block;
          width: 14rem;
          margin: 1rem;
          padding: .5rem 1.25rem;
          background-color: $gray3;
          max-width: 100%;
          overflow-x: auto;
          vertical-align: middle;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          @include respond-to(phone){
            width: 11rem;
            font-size: .95em;
          }
          a {
            color: $yellow;
            &:hover {
              text-decoration: underline;
            }
          }// li a
        }// li
      }//ul
    }// .software, .languages
  }// resume-unit


}// resume-belt
.resume-tabs {
  position: relative;
  justify-content: center;
  .resume-tab {
    @include buttonWipe;
    transition: all .3s ease-in-out;
    background-size: 0 .3rem;
    background-position: bottom;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: $gray2;
    padding: 1.5rem;
    margin: 1.5rem;
    margin-top: 0;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: $bp-tablet){
      padding: .5rem 1rem;
      margin: .5rem;
      display: none;
    }
    &.active-tab {
      transition: all .3s ease-in-out;
      color:$gray1;
      @include thickUnderline($blue, $darkGray);
      @media screen and (max-width: $bp-tablet){
        display: block;
        width: 80%;
        max-width: 20rem;
        margin: 0 auto;
        font-size: 2.25rem;
        padding-bottom:2rem;
      }
    }
    &:hover {
      box-shadow: none;
      color: $blue;
      transform: translateY(-3px);
    }
  }// .resume-tab
}// .resume-tabs
.resume-controls {
  @include respond-to(laptop){
    display:none;
  }
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  z-index:100;
  @media screen and (max-width: $bp-tablet){
      top: 14rem;
      font-size: 5rem;
  }
  .resume-control-prev {
    position: absolute;
    top:50%;
    left: -2rem;
    @include respond-to(phone){
      left:-4rem;
    }
  }
  .resume-control-next {
    position: absolute;
    top: 50%;
    right: -2rem;
    @include respond-to(phone){
      right:-4rem;
    }
  }
  .resume-control-prev,
  .resume-control-next {
    text-shadow: none;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:before{
      transition: color .2s ease-in-out, transform .2s ease-out;
      font-family: FontAwesome;
      color: $lightGray;
      font-size: 6rem;
      padding:3rem;
      @media screen and (max-width: $bp-tablet){

        font-size: 5rem;
      }
    }
  } //   .resume-control-prev, .resume-control-next
  .resume-control-prev:hover,
  .resume-control-next:hover {
    &:before {
      color: $blue;

    }
  }
  .resume-control-prev:before {content: '\f104';}
  .resume-control-next:before {content: '\f105';}
}
/// End RESUME
