#work {
  position: relative;
  background-color: $gray3;
  padding-bottom: 5rem;
  overflow-x:hidden;

  .work-belt {
    transition: all .4s ease-in;
    width:200%;
    position: relative;
    left: 0;
  }
  .thumb-wrap,#work-wrap {
    width:50%;
    float: left;
  }
  .section-title {color:#fff;}
  .thumb-container {
    max-width:1024px;
    margin:0 auto;
    margin-bottom:10rem;
    @include clearfix;
    @include respond-to(phone){
      margin-bottom: 0;
    }
    @include respond-to(tablet){
      margin-bottom: 0;
    }
    .thumb-unit {
      @include buttonWipe;
      background: #444444;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      width: 23.875%;
      float:left;
      margin-right: 1.5%;
      margin-bottom:1.5%;
      position: relative;
      padding-top: 14%;
      overflow: hidden;
      @media screen and (min-width: $bp-laptop){
        &:nth-child(4n+0) {margin-right:0;}
      }
      @include respond-to(phone){
        width:100%;
        padding-top: 33%;
        margin-bottom: 2rem;
      }
      @include respond-to(tablet){
        width:49.25%;
        padding-top:28%;
        &:nth-child(even) {margin-right:0;}
      }
      @include respond-to(laptop){
        width:32.3%;
        padding-top: 17%;
        &:nth-child(3n+0) {margin-right:0;}
      }
      .thumb-overlay {
        cursor: pointer;
        text-align: center;
        transition: all .2s ease-out;
        position: absolute;
        top: 100%;
        left:0;
        width:100%;
        height:100%;
        background: rgba($gray4,.7);
        &:after {
          font-family: FontAwesome;
          content: '\f178';
          font-size: 3rem;
          color: $blue;
          @include respond-to(phone){
            display: none;
          }
        }// &:after
        @include respond-to(phone){
          // @include inset;
          display: block;
          top:65%;
          height:auto;

        }
        .thumb-title {
          padding-top: 2.5rem;
          color: #fff;
          font-size: 2.5rem;
          line-height: 1.5;
          font-weight: 600;
          letter-spacing: -.05rem;
          @include respond-to(phone){
            padding-top: 0;
          }
          @include respond-to(tablet){
            font-size: 2.25rem;
            padding-top: 3.5rem;
          }
        }
        h4 {
          transition: all 1s ease-out;
          color: $gray1;
          font-family: 'Merriweather', serif;
          text-transform: none;
          font-style: italic;
          font-weight: 400;
          font-size: 1.75rem;
          line-height:1.5;
          @media screen and (max-width: $bp-tablet){
            font-size: 2rem;
          }
          @include respond-to(phone){
            display: none;
          }
        }// h4
      }
      &:hover .thumb-overlay {
        top: 0;
        @include respond-to(phone){
          top:65%;
        }
      }
    }// .thumb-unit
  }// .thumb-container
  .work-container {
    @include clearfix;
    max-width:70rem;
    margin:0 auto;
    margin-bottom: 3rem;
    position: relative;
    display: none;
    background-color: $gray1;
    @include respond-to(phone){
      padding: 2rem 0;
      margin-bottom: 0;
    }
    @include respond-to(tablet){
      padding: 2rem;
    }
    img {
      max-width: 100%;
      margin-bottom: 2rem;
    }
    .project-load {
      padding: 2rem;
    }
    .work-title {
      position: relative;
      margin-bottom:4rem;
      padding: 2rem;
      border-bottom: 1px solid $gray2;
      @include respond-to(tablet){
        margin-bottom:2rem;
      }
      @include respond-to(phone){
        margin-bottom:0;
      }
    }
    h4 {
      display: inline-block;
      color: $gray4;
      font-size: 3rem;
      line-height: 1.5;
      margin-bottom:0;
      font-family: "Raleway", sans-serif;
    }
    h3 {
      font-family: "Merriweather", serif;
      text-transform: none;
      font-style: italic;
      font-size: 2rem;
      color:$gray3;
    }
    p {padding:1rem;}
    .work-return {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all .3s ease-out;
      cursor: pointer;
      font-size: 4rem;
      color: $gray2;
      &:hover {
        color:$gray3;
      }
    }// .work-return
    #bottom-button {
      @include buttonWipe;

      padding-right:2rem;
      cursor: pointer;
      padding-top:2rem;
      border-top: 1px solid $gray2;
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 600;
      &:hover {
        &:before {
          color: $gray3;
        }
      }
      &:before {
        transition: all .3s ease-out;
        font-family: FontAwesome;
        content: '\f137';
        font-size: 4rem;
        color: $gray2;
        vertical-align: middle;
        margin-right:2rem;
      }
      @include respond-to(phone){
        margin-left: 1rem;
      }
    }
    i {
      position: absolute;
      left:4rem;
      @include respond-to(phone){
        left: 1rem;
        top: 3rem;
      }
      @include respond-to(tablet){
        left: 2rem;
        top: 3rem;
      }
    }
  }// .work-container
  .left-arr, .right-arr {
    height:100%;
    width: 8rem;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    color: #777777;
    &:hover {
      color: #252525;
    }
    &:before {
      font-family: FontAwesome;
      font-size: 5rem;
    }
  }
  .left-arr {
    position: absolute;
    left: 6rem;
    top: 50%;
    transform: translateY(-50%);
    &:before {
      content: '\f104';
    }
  }// .left-arr
  .right-arr {
    position: absolute;
    right: 6rem;
    top: 50%;
    transform: translateY(-50%);
    &:before {
      content: '\f105';
    }
  }// .right-arr


}// #work
