<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Preston Edmands 2016 Portfolio</title>
   <link rel="stylesheet" href="style.css" media="screen" title="main styles">
</head>
<body>
 <div id="site-wrapper">
{% include menu.html %}
  <main id="content">
    {{content}}
  </main><!-- /#content -->
</div><!-- /#site-wrapper -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="assets/js/masonry.min.js"></script>
<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/portfolio_functions.js"></script>

</body>
</html>
